{% extends 'base.html' %}

{% block content %}
    <h3>Buscar Documentos</h3>
    <p>Escribe tu búsqueda y encuentra documentos relevantes en la base de datos.</p>

    <div class="row">
        <!-- Sección de filtros en la izquierda -->
        {% if aggs %}
        <div class="col-md-3">
            <h5>Filtros</h5>
            {% for agg in aggs %}
                <h6 class="mt-3">{{ agg }}</h6>
                {% for key, count in aggs[agg].items() %}
                    <form method="POST">
                        <input type="hidden" name="query" value="{{ agg|lower }}:{{ key }} {{ query }}">
                        <button type="submit" class="btn btn-link btn-sm">{{ key }} ({{ count }})</button>
                    </form>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Sección de búsqueda y resultados -->
        <div class="col-md-9">
            <form method="POST" action="{{ url_for('handle_search') }}">
                <div class="mb-3">
                    <label for="index_name" class="form-label">Buscar en:</label>
                    <select class="form-select index-select" name="index_name" required>
                        <option value="" disabled selected>Seleccione un índice...</option>
                    </select>                    
                    <input type="text" class="form-control" style="width:100%;" name="query" id="query" placeholder="Escribe tu búsqueda aquí..." value="{{ query if query else '' }}" autocomplete="off" autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    fetch("{{ url_for('get_indices') }}")
                        .then(response => response.json())
                        .then(indices => {
                            let select = document.getElementById("index_name");
                            select.innerHTML = '<option value="" disabled selected>Seleccione un índice...</option>'; // Mantiene la opción por defecto
                            indices.forEach(index => {
                                let option = document.createElement("option");
                                option.value = index;
                                option.textContent = index;
                                if ("{{ selected_index }}" && index === "{{ selected_index }}") {
                                    option.selected = true;
                                }
                                select.appendChild(option);
                            });
                        })
                        .catch(error => {
                            console.error("Error cargando índices:", error);
                            document.getElementById("index_name").innerHTML = "<option disabled>Error al cargar índices</option>";
                        });
                });
            </script>
            

            {% if results %}
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Mostrando resultados {{ from_ + 1 }}-{{ from_ + results|length }} de {{ total }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Página anterior</a>
                        </div>
                    {% endif %}
                    {% if from_ + results|length < total %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                                <button type="submit" class="btn btn-primary">Página siguiente →</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                {% for result in results %}
                    <p>
                        {{ from_ + loop.index }}. <b><a href="{{ url_for('get_document', id=result._id) }}">{{ result._source.name }}</a></b>
                        <br>
                        {{ result._source.summary }}
                        <br>
                        <small>
                            Categoría: {{ result._source.category }}.
                            Última actualización: {{ result._source.updated_at | default(result._source.created_on) }}.
                            {% if result._score %}<i>(Score: {{ result._score }})</i>{% endif %}
                        </small>
                    </p>
                {% endfor %}
            {% elif request.method == 'POST' %}
                <p>No se encontraron resultados.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
